.lesson-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  h3 {
    margin: 0px;
    // padding: 0px 80px;
  }
}
.icon-blue {
  color: $dark-blue;
}
#font-larger {
  font-size: 23px;
}
#lesson-title {
  flex: 0 0 32%;
}
#lesson-arrows {
  a:hover {
    text-decoration: none;
  }
}
.lesson-comment-container {
  margin: 20px 0px 15px 0px;
  padding: 0px 310px;
}
