.background-blue {
  background: linear-gradient(-225deg, rgba(21,23,46,1) 0%, rgba(35,40,85,1) 50%);
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    color: white;
  }
}
.header-margin {
  margin-bottom: 50px;
}
#btn-login {
  margin-top: 0px;
  font-size: 14px;
}
.text-margin {
  margin-top: 15px;
  font-size: 16px;
}
#demo-profile {
  font-size: 14px;
  margin-top: 50px;
}
