body {
  min-width: 100vw;
  overflow-x: hidden;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 100vw;
}

.markbook-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0px 10px 30px;
}

#markbook-pupil {
  line-height: 39px;
  margin-top: 0;
  margin-bottom: 12.5px;
}

.pupils-column {
  margin-top: 107.5px;
  text-align: right;
  min-width: 200px;
  padding: 0 10px;
}

.markbook-column {
  min-width: 200px;
  padding-left: 20px;
}

.marks-index {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
}

#date {
  font-size: 14px;
}

#inline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 45%;
  a {
    margin-top: 8px;
  }
}

#mark-div {
  width: 100%;
}
