<div class="homepage">
  <div class="homepage-content">
    <h1>The Markbook</h1>
    <h2>Report-writing made easy</h2>
  </div>
    <%= link_to "Get Started", teaching_sets_path, class: "btn btn-markbook", id: "btn-homepage"  %>
</div>
