<div class="container">
  <h1>Lessons for <%= @teaching_set.year_group %> <%= @teaching_set.subject %></h1>
  <ul>
    <% @lessons.each do |lesson| %>
      <%= link_to teaching_set_lesson_path(lesson.teaching_set_id, lesson.id) do %>
      <li><%= lesson.start_time.strftime('%A, %d %b %Y %l:%M %p') %></li>
      <% end %>
    <% end %>
  </ul>
</div>
