.btn-markbook {
  background-color: $green;
  border-radius: 3px;
  color: $white;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  transition: background 0.3s ease;
  &:hover {
    background-color: $light-green;
    text-decoration: none;
    color: $white;
  }
}
#btn-homepage {
  width: 120px;
  margin-top: 30px;
}
.btn-pencil {
  margin-left: 5px;
  color: $green;
  &:hover {
    color: $light-green;
  }
}
.btn-card {
  font-size: 32px;
  color: $green;
  &:hover {
    color: $light-green;
  }
}
