.pupil-card {
  margin-top: 30px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 20px;
  p {
    margin: 0;
  }

  .avatar {
    margin: 10px;
  }
  #avatarbuttons {
    font-size: 28px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  #avatar-report {
    display:flex;
    align-items: center;
    justify-content: space-around;
  }

  #score-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .score {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $light-gray;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .comment-container {
    margin-top: 20px;
  }
}

.report-cycles-container {
  margin: 5px 10px;
  p {
    padding: 5px 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
}
